* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

header {
  width: 100%;
  height: 64px;
  background: #ffdccc;
  text-align: center;
}

header img {
  height: 60px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

table {
  border-collapse: collapse;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.half {
  width: calc(50% - 8px);
}

#mapContainer {
  width: 100vw;
  position: relative;
  height: 200px;
  margin: -12px;
}

#map {
  height: 100%;
}

:root {
  --primary-color: #5264ae;
}

.group {
  position: relative;
  margin-bottom: 24px;
  margin-top: 16px;
}

input,
textarea,
select {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: calc(100vw - 24px);
  border: none;
  border-bottom: 1px solid #757575;
  background-color: white;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label,
select:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--primary-color);
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--primary-color);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after,
textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after,
select:focus ~ .bar:before,
select:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: var(--primary-color) e;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: var(--primary-color);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: var(--primary-color);
  }
  to {
    width: 0;
    background: transparent;
  }
}

#submit {
  background: #52c7bc;
  border: 1px solid #787878;
  text-transform: uppercase;
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
}

.buttonsContainer .box {
  margin-bottom: 24px;
  height: 30vh;
  width: 100%;
  background: #52c7bc;
  border: 1px solid #787878;
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
}

.result table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  min-width: 100%;
}

.result tbody td,
.result thead th {
  text-align: center;
  border-bottom: 1px solid #5b5b5b;
  padding: 8px;
  white-space: nowrap;
}

header a {
  position: absolute;
  font-size: 44px;
  color: rgb(0, 134, 131);
  left: 0px;
}

header button {
  position: absolute;
  font-size: 34px;
  color: rgb(0, 134, 131);
  right: 0px;
  background: none;
  border: none;
}
